/* Trabalho 1 - Desenvolvimento de Sistemas Web - T01 - 2022.1
    
Alunos:
Denilson Luiz Amaro Martins - 2020031625
Pedro Henrique Azevedo do Prado - 2022001536

Professor:
Eduardo Ribeiro Felipe */

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 51, 126);
  font-size: 8vh;
  text-align: center;
}

body {
  background-color: white;
  background-image: url("./images/imagemFundo.png");
  background-repeat: repeat;
}

#textoApresentacao {
  text-align: justify;
}

.textoApresentacao {
  text-align: justify;
  margin-left: 30%;
  margin-right: 30%;
  font-style: italic;
  font-size: larger;
}

@media (max-width: 720px) {
  .textoApresentacao {
      text-align: justify;
      margin-left: 5%;
      margin-right: 5%;
      font-style: italic;
      font-size: larger;
  }
}