/* Trabalho 1 - Desenvolvimento de Sistemas Web - T01 - 2022.1
    
Alunos:
Denilson Luiz Amaro Martins - 2020031625
Pedro Henrique Azevedo do Prado - 2022001536

Professor:
Eduardo Ribeiro Felipe */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
